<section ng-controller="HomeController">
<div class="ic">More Website Templates @ TemplateMonster.com - July 30, 2014!</div><br><br>

 <!--  <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation"> -->
<center>
  <div class="row">
    <div class="grid_4" >
      <button class="buttonPic circle"  onclick="window.location.href='https://issuu.com/gayleperry/docs/snac_janfeb2017_ver2.sm'" ><img src="images/button1.png" ></button>
    </div>
    <div class="grid_4" >
      <button class="buttonPic circle"  onclick="window.location.href='/articles'"><img src="images/button2.png" ></button>
    </div>
    <div class="grid_4" >
      <button class="buttonPic circle"  onclick="window.location.href='/contests'"><img src="images/button3.png" ></button>
    </div>
  </div>
</center><br><br>

  <div class="row">
    <div class="selfheader"><strong>Upcoming Events</strong></div>    <br><br>
      <div class="grid_12">
        <div class="bann_capt" style="background-color:#85C1E9; font: 20px/23px 'Economica', sans-serif;" >
          <center><br><br>
            <div class="row">
              <div class="grid_4" >
                <button class="buttonPic square"  onclick="window.location.href='/articles'" ><img style="height: 200px; width: 250px" src="images/eventP1.png" ></button>
              </div>
              <div class="grid_4" >
                <button class="buttonPic square"  onclick="window.location.href='/articles'"><img src="images/eventP2.png" ></button>
              </div>
              <div class="grid_4" >
                <button class="buttonPic square"  onclick="window.location.href='/articles'"><img src="images/eventp3.png" ></button>
              </div>
                  <!-- </ul> -->
            </div></center><br><br>
          </div>
      </div>
    </div>


  <div class="row" >
    <div class="grid_4" >
      <div class="banner" >
        <div class="gall_block" style="background-color:#0066ff;">
         
          <button class="middlebutton">COMMUNITY</button>
          <div class="bann_capt ">
            <div class="maxheight" style="height:230px">

              <div class="selfevents">Education starts and ends in the community! 
                By turning​ our county into a giant FUN classroom, our kids get to practice real world issues that rely on problem-solving skills, cooperation and interpersonal communication. Education Explorations emphasizes the Arts, ​STEM, ​Nature, Community and Educational & Social Play to establish an enthusiasm for learning. Each of ​​our ​A​dventures​, Magazines​ & Quests is built to get kids excited about learning.</div>
             </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid_4">
      <div class="banner">
        <div class="gall_block" style="background-color:#0066ff;">
       <!--    <a style="font: 30px/35px 'Economica', sans-serif;color:#fff;"> &nbsp&nbsp&nbsp OCT 24</a> -->
          <button class="middlebutton">MISSION</button>
          <div class="bann_capt" >
            <div class="maxheight" style="height:230px">
              <div class="selfevents">The​ mission of Education Explorations is to provide an inspiring, safe, wholesome, and ​​informal learning scenarios inspire children through exciting and well-balanced curriculum. ​​Our ​A​dventures​, Magazines​ & Quests inspire problem solving, ingenuity, and construction. 
All under the guidance of certified teachers​. We encourage kids to take risks! This risk taking promotes independent responsibility while enhancing the appreciation of collaboration, like in the adult workforce. Working as part of a team beefs up innovation, productivity, and lowers personal risks. Yet, each child needs to equally participate to win​ the prize​.  Education Explorations provides an alternative social and learning experience to children age 5-14. We are a group of teacher​s that​ recognize learning is a community ​ welcomes all races, religions and ethnicities to our family adventures!</div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid_4">
      <div class="banner ">
        <div class="gall_block" style="background-color:#0066ff;">
          <!-- <a style="font: 30px/35px 'Economica', sans-serif;color:#fff;"> &nbsp&nbsp&nbsp OCT 1</a> -->
          <button class="middlebutton">COMPREHENSIVE CREATIVITY</button>
          <div class="bann_capt">
            <div class="maxheight" style="height:230px">
              <div class="selfevents">We inspire young minds with creative activities, adventures, quests and fulfilling relationships with: teachers, artists, parents and mentors.  Our aim is to make learning fun through unique and individualized hands on experiences. We encourage and inspire creativity within each child allowing them to naturally progress without limitations or boundaries of  classroom. Our Earn & Learn Events promote self-esteem, conflict resolution, relationships with peers, problem solving, and motivation to learn. Development of comprehensive creativity is an invaluable skill rooted in personal motivation.  Mastering this one skill gives our youth the ability to compete in the global economy. Education Explorations captures kids’ attention and motivates young minds to think creatively, manage change, and solve complex, open-ended problems.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--     <div class="grid_12">
      <div class="banner" >
      <div class="gall_block">
          <div class="bann_capt "style="background-color:#85C1E9; font: 25px/30px 'Economica', sans-serif;">
            <div class="maxheight">

              <strong>Stay Updated!</strong><br>
                Sign up to learn about live upcoming events, where to go and what to do with your family!
                <br>Enter in our numerous art and writing contests!
                <br>
                <a ui-sref="authentication.signup">Sign Up Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->

<!--       <div class="grid_4">
        <div class="block1">
        <a href="https://issuu.com/gayleperry/docs/schoolnotes_septoct2016_lowres_void" class="btn">   <img src="images/w16.JPG"  alt=""></a>
          This may come as a shock, but United States residents are not the largest population of people on the planet earth... or even close!
          <br>Explore to Read this and More!
          <br>
          <a href="https://issuu.com/gayleperry/docs/sn_novdec_2016_lr_void" class="btn" style = "background-color:#0066ff";>Explore!</a>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
      <a href="https://issuu.com/gayleperry/docs/schoolnotes_septoct2016_lowres_void" class="btn">   <img src="images/f16.JPG"  alt=""></a>
        Somewhere between 5-7 years of age children have an expressive vocabulary of 3,000 to 5,000 words! Learn what you as a parent can do to grow your child's vocabulary!
        <br>Explore to Read this and More!
            <br>
          <a href="https://issuu.com/gayleperry/docs/schoolnotes_septoct2016_lowres_void" class="btn" style = "background-color:#0066ff";>Explore!</a>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <a href="https://issuu.com/gayleperry/docs/schoolnotes_septoct2016_lowres_void" class="btn">   <img src="images/f15.JPG"  alt=""></a>
          Want to get your child excited about science? Start the new school year off with a bang: Learn three science investigations that explode
          <br>Explore to Read this and More!
          <br>
          <a href="https://issuu.com/gayleperry/docs/schoolnotes_augsept2016_pages" class="btn" style = "background-color:#0066ff";>Explore!</a>
        </div>
      </div> -->
 <!--      <div class="grid_12">
        <div class="box">
          <div class="row">
            <div class="grid_5 preffix_1">
              <h2 style = "color:#0066ff">Welcome</h2>
              <p>Sign up to download our free <strong class="color1"><a href="sponsors" rel="nofollow">coupons! </a></strong>Provided by our amazing sponsors.Enjoy fun quests, games and interactive readings!
            Fun for children and parents of all ages. Compete in contests now and make learning fun!  <br>
              <a href="contests" class="btn" style=" background-color:#0066ff; color:#FDFEFE">Play</a>
            </div>
            <div class="grid_5">
              <h2 style= "color:#0066ff">Find your child's bus stop here</h2>
              Attention all parents: find your childs bus stop now and remeber always accompany them too and from the bus stop. Preventing accidents one magazine at a time! You can find the closest bus routes as of 2017-2018. Find your
              childs bus stop now!  <br><a href="https://acps.mybusplanner.com/Eligibility.aspx?Page=Transportation" class="btn" style=" background-color:#0066ff; color:#FDFEFE">Bus stop</a>
            </div>
          </div>
        </div>
      </div> -->



      <div class="grid_4">
     <!--    <h2 class="selfheader">Games</h2>
          <img style="width:100px;height:100px" src="images/page1_img7.png" alt="" class="img_inner fleft noresize">
          <div class="extra_wrapper" style="color:#0066ff;">
            <div class="bq_title color1" style="color:#0066ff;">Word Games</div>
            This is a Game.    This is a Game.    This is a Game.     This is a Game. &nbsp
            <a href="games" style="color:#0066ff;text-align:right;"><span class="fa fa-chevron-right" ></span>More Games</a>
          </div>
        </blockquote> -->
      </div>

      <div class="grid_4">
<!--         <h2 class="selfheader">Bus Stop Info</h2><br>
        <div class="block2">
           <img style="width:100px;height:100px" src="images/page1_imgss.png" alt="" class="img_inner fleft noresize">
          <div class="extra_wrapper" style="color:#0066ff;">
            <div class="text1"><a href="https://acps.mybusplanner.com/Eligibility.aspx?Page=Transportation">Find your child's bus stop here</a></div>We have the most accurate information for you and your children
          </div>
        </div> -->
      </div>

      <div class="grid_4">
        <h2 class="selfheader">Contact Us</h2>
        <ul style="font-size:20px;color:#0066ff">
          <li>Phone Number: 352-328-4780</li><br>
          <li>Email:​info@schoolnotesmagazine.org</li><br>
          <li>School Notes <br>
            PO Box 141571 <br> Gainesville, FL 32614</li><br>
          <li><a href="contact" ><span class="fa fa-chevron-right" ></span>More</a>
        </ul>
      </div>
    </div>
  </div>
</section>
