<section> 
  <div class="page-header">
  <h1 ng-bind="vm.contest.name"></h1>

    <select size = "10" ng-model="vm.contest.winner">
        <div class="list-group">
      <option ng-repeat="submission in vm.submissions | filter: {contestName:vm.contest._id}:true"
         class="list-group-item" value = {{submission._id}}>
            {{$index + 1}} 
        <small class="list-group-item-text">
          Posted on
          <span ng-bind="submission.created | date:'mediumDate'"></span>
          by
          <span ng-if="submission.user" ng-bind="submission.user.displayName"></span>
          <span ng-if="!submission.user">Deleted User</span>
        </small>

        <h4 class="list-group-item-heading" ng-bind="submission.name"></h4>
        <p>{{submission.contestName | limitTo:150}}</p>
      </option>
    </div>
    </select>

  <div class="alert alert-warning text-center" ng-if="vm.submissions.$resolved && !vm.submissions.length">
    No Submissions yet

  </div>
<!--   <button onclick="myFunction()">Pick Winner</button> -->
<!-- 1
<form name="vm.form.contestForm" ng-submit="vm.save(vm.form.contestForm.$valid)" novalidate>
      <fieldset>
       <div class="form-group" show-errors>
          <input  name="name" type="text" ng-model="vm.contest.name" id="name" class="form-control" value="{{selection}}" required>
          <div ng-messages="vm.form.contestForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contest name is required.</p></div>
            <br><br>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </div>
      <button type="submit" class="btn btn-default"> update </button>
      </fieldset>
    </form>
  <div ng-model = "vm.contest.winner" value = {{selection}}>i love {{selection}}</div><br>1
  <div ng-bind = "vm.contest.user.winner">12312312312312312313</div><br>
  <h1 ng-bind="vm.contest.user.lastName">1{{vm.contest.user.lastName}}</h1> -->

  <form name="vm.form.contestForm" class="form-horizontal" ng-submit="vm.save(vm.form.contestForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group" show-errors>
          <label  class="control-label" for="name">Name</label>
          <input  name="name" type="text" ng-model="vm.contest.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.contestForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contest name is required.</p></div>
            <br><br>

            <label  class="control-label" for="winner">winner</label>
          <input  name="name" type="text" ng-model="vm.contest.winner" id="winner" class="form-control" placeholder="Winner" required >
          <div ng-messages="vm.form.contestForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contest name is required.</p></div>
            <br><br>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.contest._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
</div>
</section>
