<section>
  <div class="page-header">
    <h2><strong>Earn & Learn Adventures</strong></h2>
    <h3>Blurb about EARN & LEARN ADVENTURES: These are events happening around your areas that can help your child grow into a SUPER learner!</h3>
  </div>

  <div ng-repeat="event in (vm.events | limitTo: 5)" class="grid_8">
    <div class="row">
      <div class="col-md-3">
        <div max-width="100em">
          <a ui-sref="events.view({ eventId: event._id })">
            <img data-ng-src="{{event.thumbnail}}"  alt="" class="img-responsive">
          </a>
        </div>
      </div>
        <div class="col-md-5">
          <div class="text1 tx__1"><a ui-sref="events.view({ eventId: event._id })"><h2>{{ event.title }}</h2></a></div>
          by
          <span ng-if="event.user" ng-bind="event.user.displayName"></span>
        <span ng-if="!event.user">Deleted User</span>
         ~
         <time datetime="2014-01-01">{{event.date}}</time>
          <p>{{ event.body | limitTo: 150 }}...</p>
          <a ui-sref="events.view({ eventId: event._id })" class="btn">Read More</a>
        </div>
        <div class="clear"></div>

    <br>
    
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.events.$resolved && !vm.events.length">
    No events yet, why don't you <a ui-sref="events.create">create one</a>?
  </div>
</div>
</section>